.Addcomponent-main{
    margin: 30px 30px;
    font-family: 'Poppins', sans-serif;
   p{
       font-weight: bold;
   }
   input{
       border: none;
       border-bottom: 1px solid black;
       border-radius: 0px;
   }
   label{
       margin-top: 10px;
       margin-bottom: 0px;
   }
   select{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
   }
}