.viewComponentMain{
    width: 100%;
    padding: 30px;
    table{
        width: 100%;
        height: 100%;
        // background-color: red;
     
        thead{
            background-color: rgb(228, 192, 192);
        }
        tbody{

        }
    }
}