.viewComponentMain{
    width: 100%;
    table{
        width: 100%;
        height: 100%;
        // background-color: red;
        thead{
            background-color: red;
        }
        tbody{

        }
    }
}